@import "src/theme";

.dashboard {
  position: relative;

  .content-header {
    height: 55px !important;
    padding: 5px 15px;

    .icon-setting {
      font-size: 20px;
      margin-right: 5px;
      color: var(--primary-color-darkmode);
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .dashboard-content {
    margin-top: 10px;
    overflow: visible; // Убедитесь, что overflow установлено в visible
    box-sizing: border-box;
    margin-left: -10px !important;
    // max-width: 1600px;

    .layout {
      position: relative;
      box-sizing: border-box;
      //height: 100vh!important;

      .tile {
        //border: 1px solid red;
        //box-sizing: border-box;
      }
    }

    .slider-dashboard {
      .tile-content {
        padding: 0;
      }
    }
  }

  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-warning);
    border-radius: var(--primary-radius);
    box-sizing: border-box;
    padding: 15px;
    gap: 20px;
    flex-direction: column;

    .notification-icon {
      //font-size: 30px;
      color: var(--color-warning);
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5px;

      svg {
        font-size: 30px;
        color: var(--color-warning);
      }
    }

    .notification-text {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      color: var(--primary-color-darkmode);
    }
  }
}
