@import "../../../../../theme";

/* Основные стили */
.action-buttonsv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding: 0;
  background-color: #fff;
  border-radius: var(--primary-radius);
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
  border: 1px solid var(--border-color-light-gray); /* Контур для акцента */
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  /* Эффект подъема при наведении */
  //&:hover {
  //  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Увеличенная тень */
  //  transform: translateY(-2px); /* Легкий подъем */
  //}


  /* Левая секция иконок */
  .action-icon-block {
    display: flex;
    align-items: center;
    gap: 10px;

    .search {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: var(--primary-radius);
      box-sizing: border-box;
      height: 30px;

      .search-icon {
        border: none;
        height: $button-primary-height;
        width: $button-primary-height;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          color: var(--text-light-gray);
        }
      }

      input {
        border-radius: var(--border-primary-radius);
        border: none;
        outline: none;
        color: var(--text-light-gray);
        height: auto;
      }
    }
  }

  /* Правая секция иконок */
  .action-icon-block-right {
    display: flex;
    align-items: center;
    gap: 7px;
    box-sizing: border-box;
    margin-left: 5px;

    /* Обертка для кнопок */
    .action-icon-wrapper {
      button {
        color: var(--color-func-on);

        .action-icon {
          color: inherit;
        }
      }
    }

    /* Стили для отключенных кнопок */
    .disabled {
      border: none;

      button {
        border: none;
      }
    }

    /* Кнопки */
    button {
      background: var(--background-light-color);
      cursor: pointer;
      padding: 5px 8px;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 0.3s;
      border-radius: $border-primary-radius;
      color: var(--text-light-gray) !important;
      box-sizing: border-box;
      border: 1px solid transparent;

      &:hover {
        color: var(--color-func-onv2) !important;
        border-bottom: 1px solid var(--color-func-onv2);
      }

      .action-icon {
        font-size: 16px;
        box-sizing: border-box;
      }
    }

    /* Кнопка визуализатора */
    .visualiser-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 1px;
      width: 40px;
      height: 40px;
      border-radius: var(--primary-radius);
      background-color: transparent;

      &:hover {
        //box-shadow: 0 0 8px rgba(144, 205, 244, 0.8);
      }

      .action-icon-visualiser {
        font-size: 25px;
        transition: 0.3s;
        color: var(--text-light-gray);

        &:hover {
          color: var(--color-func-onv2);
          transform: scale(1.1);
        }
      }

      .action-icon-visualiser-active{
        color: var(--color-func-onv2);
        transform: scale(1.1);
      }
    }

    /* Разделитель в визуализаторе */
    .visualiser-separator {
      width: 1px;
      height: 25px;
      background: var(--color-func-off);
      margin: 0 10px;
    }
  }
}

/* Стили для отключенных кнопок */
.action-icon-wrapper.disabled button {
  opacity: 0.5;
  pointer-events: none;
  color: var(--color-func-off) !important;
  border: none !important;
}

button:disabled {
  cursor: not-allowed;
}
