@import "src/theme";

.main-wrapper {
  display: grid;
  grid-template-columns: auto 1fr; /* Первый элемент занимает свою ширину, второй занимает оставшееся пространство */
  width: 100%;
  //   height: 100vh; /* Высота на весь экран */

  .main-content {
    width: 100%;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 250px 1fr;

    .menu-block {
      border: 1px solid red;

      .menu-section {
        border: 1px solid red;
        margin-bottom: 10px;
        border-radius: 5px;
        overflow: hidden;

        h3 {
          margin: 0;
          border: 1px solid red;
          padding: 5px 0;
          background: lightblue;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        li {
          text-align: left;
          padding: 10px 5px;
          border: 1px solid red;

          &:hover {
            background: rgb(226, 226, 226);
          }
        }
      }
    }
  }
}

.content-wrapper {
  overflow: hidden;
  margin: 0;

  // border: 1px solid red;
  margin-left: 15px;
  margin-right: 15px;
}
