// Светлая тема

$border-primary-radius: 5px;
$button-primary-height: 30px;

//$light-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
$light-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$thin-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


[data-theme="light"] {
  --primary-color: #19191a;
  --dark-gray-color: #424244;
  --light-gray-color: #a2a0aa;

  --background-dark-color: #111926;
  --background-light-dark-color: #424244;
  --background-light-gray-color: #595965;
  --background-main-color: #fafbfd;
  --background-middle-color: #f3f4f6;
  --background-light-color: #ffffff;

  --background-light-gray: #f0f0f0;
  --line-color-light-gray: #ddd;

  --border-color-light-gray: #e2e8ee;
  --text-blue-color: #007eab;

  --text-color: #111926;
  --text-color-opposite: #ffffff;
  --text-light-gray: #626975;
  --text-inactive: #00000052;

  --color-func-off: #b7b7b7f5;
  --color-func-on: #5c5fc9;
  --color-status-active: #208a38;
  --color-warning: #f5a623;
  --color-error: #D32F2F;

  --light-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --tob-gap: 15px;
  --primary-radius: 5px;
  --primary-th-background: #c9b2ff38
}

// Темная тема
[data-theme="dark"] {
  --primary-color: #ffffff;
  --dark-gray-color: #e6e6e8;
  --light-gray-color: #8a8a8b;

  --background-dark-color: #e6e6e8;
  --background-light-dark-color: #424244;
  --background-light-gray-color: #a9a9af;
  --background-main-color: #18171c;
  --background-middle-color: dark;
  --background-light-color: green;

  --background-light-gray: #f0f0f0;
  --line-color-light-gray: #ddd;

  --border-color-light-gray: #e2e8ee;
  --text-blue-color: #007eab;

  --text-color: #ffffff;
  --text-color-opposite: #111926;
  --text-light-gray: #626975;
  --text-inactive: #00000052;

  --color-func-off: #b7b7b7f5;
  --color-func-on: #5c5fc9;
  --color-warning: #f5a623;
  --color-error: #D32F2F;

  --light-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);;
  --tob-gap: 15px;
  --primary-radius: 5px;
  --primary-th-background: #c9b2ff38
}


$background-blue-color: #f9f9f9;

