// Светлая тема

$border-primary-radius: 3px;
$button-primary-height: 30px;
$th-table-primary-color: #5a97f117;

//$light-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
$light-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$thin-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

[data-theme="light"] {
  --primary-color: #19191a;
  --dark-gray-color: #424244;
  --light-gray-color: #a2a0aa;

  --background-dark-color: #111926;
  --background-light-dark-color: #424244;
  --background-light-gray-color: #595965;
  --background-main-color: #fafbfd;
  --background-middle-color: #f3f4f6;
  --background-light-color: #ffffff;
  --border-color-super-light-gray: #b7b7b757;

  --background-light-gray: #f0f0f0;
  --background-table-header: #6ea6f717;
  --line-color-light-gray: #ddd;

  --border-color-light-gray: #4e52d921;
  --border-color-block-light-gray: #4e52d921;
  --border-color-super-light-gray: #f0f0f08c;
  --text-blue-color: #007eab;
  --text-color: #111926;
  --text-color-opposite: #ffffff;
  --text-light-gray: #626975;
  --text-inactive: #00000052;

  --color-func-off: #b7b7b7f5;
  --color-func-on: #5c5fc9;
  --color-status-active: #208a38;
  --color-warning: #f5a623;
  --color-error: #d32f2f;

  --light-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --tob-gap: 15px;
  --primary-radius: 5px;
  --primary-th-background: #c9b2ff38;

  --scrol-bar-background: #f1f1f1;
  --scrol-bar-scroll: #d8d1ff8a;
  --scrol-bar-hover: #847ad9;
}

[data-theme="lightV2"] {
  --primary-color: #19191a;
  --primary-color-darkmode: #424244;
  --primary-color-opposite: #fff;
  --dark-gray-color: #424244;
  --light-gray-color: #a2a0aa;
  --light-gray-color-darkmode: #a2a0aa;

  --background-dark-color: #111926;
  --background-light-dark-color: #424244;
  --background-light-gray-color: #595965;
  --background-main-color: #fafbfd;
  --background-main-color-darkmode: #5c5c5c;
  --background-under-main-color: #fafbfd;
  --background-middle-color: #f3f4f6;
  --background-light-color: #ffffff;
  --background-light-color-btn: #ffffff;
  --background-table-row: #f9f9f9;

  --background-light-gray: #f0f0f0;
  --background-table-header: #6ea6f717;
  --line-color-light-gray: #ddd;

  --border-color-light-gray: #e2e8ee;
  --border-color-light-gray-darkmode: #424244;
  --border-block-color-light-gray: #e2e8ee;
  --border-block-color-light-gray-active: #e2e8ee;
  --border-color-block-light-gray: #e2e8ee;
  --border-color-super-light-gray: #f0f0f08c;
  --border-color-super-light-gray-darkmode: #e2e2e28c;

  --text-blue-color: #007eab;
  --text-color: #111926;
  --text-color-opposite: #ffffff;
  --text-color-opposite-darkmode: #ffffff;
  --text-light-gray: #626975;
  --text-light-gray-darkmode: #626975;

  --text-inactive: #00000052;
  --text-white-color: #ffffff;

  --color-func-off: #b7b7b7f5;
  --color-func-off-darkmode: #b7b7b7f5;
  --color-func-on: #5c5fc9;
  --color-func-on-darkmode: #5c5fc9;
  --color-status-active: #208a38;
  --color-warning: #f5a623;
  --color-error: #d32f2f;

  --color-func-offv2: #b7b7b7f5;
  --color-func-onv2: #5a97f1;
  --color-status-activev2: #7eb263;
  --color-bg-status-activev2: #eaf3e7;
  --color-warningv2: #e9b264;
  --color-bg-warningv2: #f8efe2;
  --color-errorv2: #ca625d;
  --color-bg-errorv2: #f6e6e6;

  --light-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --tob-gap: 15px;
  --primary-radius: 3px;
  --primary-th-background: #c9b2ff38;

  --scrol-bar-background: #f1f1f1;
  --scrol-bar-scroll: #d8d1ff8a;
  --scrol-bar-hover: #847ad9;
}

// Темная тема
[data-theme="dark"] {
  --primary-color: #a2a0aa;
  --primary-color-darkmode: #a2a0aa;
  --primary-color-opposite: #a2a0aa;
  --dark-gray-color: #6a6a6a;
  --light-gray-color: #19191a;
  --light-gray-color-darkmode: #6a6a6a;

  --background-dark-color: #111926;
  --background-light-dark-color: #424244;
  --background-light-gray-color: #595965;
  --background-main-color: #171717;
  --background-main-color-darkmode: #171717;
  --background-under-main-color: #2c2c2c;
  --background-middle-color: #404040;
  --background-light-color: #2c2c2c;
  --background-light-color-btn: #424141;
  --background-table-row: #383737b5;

  --background-light-gray: #f0f0f0;
  --background-table-header: #6ea6f717;
  --line-color-light-gray: #ddd;

  --border-color-light-gray: #2c2c2c;
  --border-color-light-gray-darkmode: #e2e8ee;
  --border-block-color-light-gray: #545353;
  --border-block-color-light-gray-active: #252525;
  --border-color-block-light-gray: #404040;
  --border-color-super-light-gray: #f0f0f08c;
  --border-color-super-light-gray-darkmode: #424141;

  --text-blue-color: #007eab;
  --text-color: #ffffff;
  --text-color-opposite: #111926;
  --text-color-opposite-darkmode: #ffffff;
  --text-light-gray: #b7b7b7;
  --text-light-gray-darkmode: #575757;

  --text-inactive: #96969652;
  --text-white-color: #ffffff;

  --color-func-off: #b7b7b7f5;
  --color-func-off-darkmode: #2c2c2c;
  --color-func-on: #5c5fc9;
  --color-func-on-darkmode: #a2a0aa;
  --color-status-active: #208a38;
  --color-warning: #f5a623;
  --color-error: #d32f2f;

  --color-func-offv2: #7c7b7bf5;
  --color-func-onv2: #b7b7b7;
  --color-status-activev2: #7eb263;
  // --color-bg-status-activev2: #eaf3e7;
  --color-bg-status-activev2: #2c2c2c;
  --color-warningv2: #e9b264;
  // --color-bg-warningv2: #f8efe2;
  --color-bg-warningv2: #2c2c2c;
  --color-errorv2: #ca625d;
  // --color-bg-errorv2: #f6e6e6;
  --color-bg-errorv2: #2c2c2c;

  --light-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --tob-gap: 15px;
  --primary-radius: 3px;
  --primary-th-background: #c9b2ff38;

  --scrol-bar-background: #f1f1f1;
  --scrol-bar-scroll: #d8d1ff8a;
  --scrol-bar-hover: #847ad9;
}

$background-blue-color: #f9f9f9;

$background-dark-color: #252525;
$background-light-dark-color: #2c2c2c;
$background-super-light-dark-color: #424141;
