// Светлая тема

$border-primary-radius: 5px;
$button-primary-height: 30px;


[data-theme='light'] {
  --primary-color: #19191a;
  --dark-gray-color: #424244;
  --light-gray-color: #a2a0aa;

  --background-main-color: #e6e7eb;
  --background-middle-color: #d8d9db;
  --background-light-color: #ffffff;



  --text-color: #111926;
  --text-light-gray: #626975;
}

// Темная тема
[data-theme='dark'] {
  --primary-color: #ffffff;
  --dark-gray-color: #e6e6e8;
  --light-gray-color: #8a8a8b;

  --background-main-color: #18171c;
  --background-middle-color: dark;
  --background-light-color: green;



  --text-color: #111926;
  --text-light-gray: #626975;
}
