@import "../../../../../theme";

.content-wrapper-v2 {
  .page-navigation {
    display: flex;
    gap: 5px;
    justify-self: end;
    //padding: 10px 20px;
    align-items: center;
    // background: var(--background-main-color);
    padding: 5px;
    box-sizing: border-box;
    border-radius: $border-primary-radius;

    .nav-button {
      background-color: var(--background-light-color);
      padding: 10px 14px;
      padding: 8px 10px;
      cursor: pointer;
      border: 1px solid var(--line-color-light-gray);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      transition: 0.3s;
      box-sizing: border-box;
      border-radius: var(--primary-radius);
      color: var(--background-light-color) !important;
      // color: var(--primary-color-darkmode) !important;
      //&:last-child {
      //  padding-left: 0;
      //}

      &:first-child {
        border: transparent;
        background: var(--color-func-onv2);
        color: var(--background-light-color);
        font-weight: bold;
      }

      &:hover {
        //background: var(--background-light-gray);
        //color: var(--color-func-on);
        //border: 2px solid var(--background-light-color);
        //border-bottom: 1px solid var(--color-func-on);
      }

      .icon {
        width: 15px;
        height: 15px;
        border: 1px solid var(--line-color-light-gray);
      }
    }

    .nav-button-config {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      background: transparent !important;
      border: 1px solid var(--color-func-offv2) !important;

      &:hover {
        border: 1px solid var(--color-func-onv2) !important;
      }

      &:hover .icon-config {
        transform: rotate(90deg) !important;
        color: var(--color-func-onv2);
      }

      .icon-config {
        transition: 0.5s;
        border: 1px solid transparent;
        //margin-right: -10px;
        margin: 0;
        box-sizing: border-box;
        color: var(--color-func-offv2);
      }

      .icon-config-active {
        transform: rotate(90deg) !important;
        color: var(--color-func-onv2);
      }
    }
  }

  .dropdown-container {
    position: relative;
  }

  .nav-button-config {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid var(--border-color-light-gray);
    border-radius: 4px;
    box-shadow: var(--light-box-shadow);
    //padding: 10px;
    width: 230px;
    z-index: 10;
    margin-top: 10px;
    padding-bottom: 8px;

    .dropdown-menu-header {
      padding: 10px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      border-bottom: 1px solid var(--border-color-light-gray);
      color: var(--text-light-gray-darkmode);

      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .dropdown-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    color: var(--color-func-offv2);
    gap: 10px;
    //&:nth-child(odd) {
    //  background-color: #f2f2f2; /* Light gray for odd items */
    //}

    &:hover {
      background-color: var(--background-light-gray);
    }
  }

  .dropdown-item-active {
    font-weight: bold;
    color: var(--color-func-onv2);
  }

  .dropdown-item:last-child {
    margin-bottom: 0;
  }

  .dropdown-item input {
    margin-right: 8px;
    display: none;
  }

  .dropdown-icon {
    color: transparent;

    &.active {
      color: var(--color-func-onv2);
    }
  }

  .dropdown-label-active {
    color: var(--color-func-onv2);
    font-weight: bold;
  }
}
